/* Universal Styles */

html {
  font-size: 18px;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: hotpink;
  background-color: plum;
  text-align: center;
}
 
 
p, 
li {
  font-size: 18px;
}

#tagline {
  font-size: 20px;
}
 

